

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>aps jobs gazetteer - exploring public service jobs</title>
        
        <meta name="author" content="Felix Barbalet">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/normalize.min.css">
        <link rel="stylesheet" href="/main.css">
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="/jquery-1.10.1.min.js"></script>
        <script src="/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="/email.js"></script>
    </head>
    <body>
        <!--[if lt IE 9]>
	<p class="chromeframe">Your browser is <strong>outdated</strong> and so many features of this website will not work. 
	<a href="http://browsehappy.com/">Upgrade</a> to correct your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <a href="/"><div class="logo">
                </div></a>
                <nav>
                    <ul>

      	<li><a href="/">&nbsp;</a></li>

      	<li><a href="/">&nbsp;</a></li>

      	<li><a href="/">&nbsp;</a></li>

                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

               
    <p><article></p>

<form id='searchform'>
   <input class="searchbox" type="search" placeholder="enter upto 15 keywords to search for" name="q">
</form>
    <span id="loading">Loading...</span>
    <span id="random">500 jobs (selected randomly)</span>
    <span id="other">.............................. &nbsp; </span>





<style>

#body > p {
  line-height: 1.5em;
  width: 640px;
  text-rendering: optimizeLegibility;
}

#random,#loading,#other {

    position: relative;
    margin:0px;
    padding: 0px;
    top: -50px;
    color: grey;
    font-variant: small-caps;
}

#other {
    color: #fff;
}

#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

.chart .title {
    color: #000;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#distance-chart {
  width: 420px;
}

#date-chart {
  width: 920px;
}

#flight-list {
  min-height: 1024px;
}

#flight-list .date,
#flight-list .day {
  margin-bottom: .4em;
}

#flight-list .date {

    width: 920px;
    border-bottom: 1px solid black;
}

#flight-list .flight {
  line-height: 1.5em;
  background: #eee;
  margin-bottom: 1px;
}

#flight-list .ime {
  color: #999;
}

#flight-list .flight div {
  display: block;
}

#flight-list div {
  padding-left: 6px;
  text-align: left;
  vertical-align: top;
}

#flight-list div.detail {
    background-color: rgba(0, 130, 255, 0.1);
    padding-left: -6px;
    margin-left: -6px;
    font-size: smaller;
    line-height: 1.3em;
    display: none;
}

#flight-list div.showdetail {
    color: #aeaeae;
    background-color: #fff;
    margin-left: -12px;
    font-size: smaller;
}

#flight-list .early {
  color: green;
}

aside {
    font-size: smaller;
    height:100px;
    overflow: hidden;
    overflow-y: auto;
    overflow-style: scrollbar;
    line-height: 1.5em;
}

</style>

<div id="charts">

  <div id="date-chart" class="chart">
    <div class="title">Listing date</div>
  </div>
  <div id="distance-chart" class="chart">
    <div class="title">Salary (AUD)</div>
  </div>
</div>

<p id="totals"><span id="active">-</span> of <span id="total">-</span> jobs shown (~76k in database).</p>

<div id="lists">
  <div id="flight-list" class="list"></div>
</div>




<script src="/crossfilter.v1.min.js"></script>
<script src="/d3.v3.min.js"></script>
<script>



// (It's CSV, but GitHub Pages only gzip's JSON at the moment.)
//d3.csv("http://apsjobshistoricsearch.appspot.com/", function(error, flights) {

var search_data = '/api/?home=False';
//var search_data = '/details.csv'
function doit() {


d3.csv(search_data, function(error, flights) {

  // Various formatters.
  var formatNumber = d3.format(",d"),
      formatChange = d3.format("+,d"),
      formatDate = d3.time.format("%Y-%m-%d"),
      formatTime = d3.time.format("%I:%M %p");

  // A nest operator, for grouping the flight list.
  var nestByDate = d3.nest()
      .key(function(d) { return d3.time.day(d.date); });

  // A little coercion, since the CSV is untyped.
  flights.forEach(function(d, i) {
    d.index = i;
    d.date = parseDate(d.gazetted);
    d.distance = +d.salary;
  });

  // Create the crossfilter for the relevant dimensions and groups.
  var flight = crossfilter(flights),
      all = flight.groupAll(),
      date = flight.dimension(function(d) { return d.date; }),
      dates = date.group(d3.time.month),
      //hour = flight.dimension(function(d) { return d.date.getHours() + d.date.getMinutes() / 60; }),
      //hours = hour.group(Math.floor),
      //delay = flight.dimension(function(d) { return Math.max(-60, Math.min(149, d.delay)); }),
      //delays = delay.group(function(d) { return Math.floor(d / 10) * 10; }),
      distance = flight.dimension(function(d) { return d.distance; }),
      distances = distance.group(function(d) { return Math.floor(d / 2500) * 2500; }),
      salary_ext = d3.extent(flights,function(d) { return Math.floor(d.distance / 2000 ) * 2000; }),
      d_ext = d3.extent(flights,function(d) { return d.date; });


  var charts = [

    barChart()
       .dimension(date)
        .group(dates)
        .round(d3.time.day.round)
      .x(d3.time.scale()
        .domain([d3.time.month.floor(d_ext[0]),d3.time.month.ceil(d_ext[1])])
        .rangeRound([0, 10 * 90]))
        .filter([new Date(2010, 1, 1), new Date(2011, 1, 1)]),

    barChart()
        .dimension(distance)
        .group(distances)
      .x(d3.scale.linear()
        .domain([salary_ext[0]+5000,salary_ext[1]+5000])
        .rangeRound([0, 10 * 90]))
        .filter([salary_ext[1]/2,salary_ext[1]/4*3]),


  ];

  // Given our array of charts, which we assume are in the same order as the
  // .chart elements in the DOM, bind the charts to the DOM and render them.
  // We also listen to the chart's brush events to update the display.
  var chart = d3.selectAll(".chart")
      .data(charts)
      .each(function(chart) { chart.on("brush", renderAll).on("brushend", renderAll); });

  // Render the initial lists.
  var list = d3.selectAll(".list")
      .data([flightList]);

  // Render the total.
  d3.selectAll("#total")
      .text(formatNumber(flight.size()));

  renderAll();

  // Renders the specified chart or list.
  function render(method) {
    d3.select(this).call(method);
  }

  // Whenever the brush moves, re-rendering everything.
  function renderAll() {
    chart.each(render);
    list.each(render);
    d3.select("#active").text(formatNumber(all.value()));
  }

  // Like d3.time.format, but faster.
  function parseDate(d) {
      dt = new Date(
        d.substring(0,4),
        d.substring(5, 7) - 1,
        d.substring(8, 10),
        0,0);

      return dt;
  }

  window.filter = function(filters) {
    filters.forEach(function(d, i) { charts[i].filter(d); });
    renderAll();
  };

  window.reset = function(i) {
    charts[i].filter(null);
    renderAll();
  };

  function flightList(div) {
    var flightsByDate = nestByDate.entries(date.top(500));

    div.each(function() {
      var date = d3.select(this).selectAll(".date")
          .data(flightsByDate, function(d) { return d.key; });

      date.enter().append("div")
          .attr("class", "date")
        .append("div")
          .attr("class", "day")
          .text(function(d) { return (d.values[0].jobtitle); });

      date.exit().remove();

      var flight = date.order().selectAll(".flight")
          .data(function(d) { return d.values; }, function(d) { return d.index; });

      var flightEnter = flight.enter().append("div")
          .attr("class", "flight");



      flightEnter.append("div")
          .attr("class", "delay")
          .text(function(d) { return d.department; });

      flightEnter.append("div")
          .attr("class", "time")
          .text(function(d) { return "$" + formatNumber(d.distance); });

       flightEnter.append("div")
                .attr("class","location")
                .text(function(d) { return d.classification; });

    flightEnter.append("div")
              .attr("class","location")
              .text(function(d) { return 'Location: '+ d.location; });

        flightEnter.append("a").append("div")
              .attr("class","showdetail")
              .text('show more detail...');

      var details = flightEnter.append("div")
              .attr("class","detail");


        details.append('div').text(function(d){return 'Notice Number: ' + d.NoticeNumber;});
        details.append('div').text(function(d){return 'Appeared in ' + d.PSGazette;});
        details.append('div').text(function(d){return 'Type: ' + d.jobtype;});
        details.append('div').text(function(d){return 'Job description: ' + d.ending;});



      //  ending
      //  department
      //  gazetted
      //  jobtype
      flight.exit().remove();

      flight.order();
    });
  }

  function barChart() {
    if (!barChart.id) barChart.id = 0;

    var margin = {top: 10, right: 10, bottom: 20, left: 10},
        x,
        y = d3.scale.linear().range([100, 0]),
        id = barChart.id++,
        axis = d3.svg.axis().orient("bottom"),
        brush = d3.svg.brush(),
        brushDirty,
        dimension,
        group,
        round;

    function chart(div) {
      var width = x.range()[1],
          height = y.range()[0];

      y.domain([0, group.top(1)[0].value]);

      div.each(function() {
        var div = d3.select(this),
            g = div.select("g");

        // Create the skeletal chart.
        if (g.empty()) {
          div.select(".title").append("a")
              .attr("href", "javascript:reset(" + id + ")")
              .attr("class", "reset")
              .text("reset")
              .style("display", "none");

          g = div.append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          g.append("clipPath")
              .attr("id", "clip-" + id)
            .append("rect")
              .attr("width", width)
              .attr("height", height);

          g.selectAll(".bar")
              .data(["background", "foreground"])
            .enter().append("path")
              .attr("class", function(d) { return d + " bar"; })
              .datum(group.all());

          g.selectAll(".foreground.bar")
              .attr("clip-path", "url(#clip-" + id + ")");

          g.append("g")
              .attr("class", "axis")
              .attr("transform", "translate(0," + height + ")")
              .call(axis);

          // Initialize the brush component with pretty resize handles.
          var gBrush = g.append("g").attr("class", "brush").call(brush);
          gBrush.selectAll("rect").attr("height", height);
          gBrush.selectAll(".resize").append("path").attr("d", resizePath);
        }

        // Only redraw the brush if set externally.
        if (brushDirty) {
          brushDirty = false;
          g.selectAll(".brush").call(brush);
          div.select(".title a").style("display", brush.empty() ? "none" : null);
          if (brush.empty()) {
            g.selectAll("#clip-" + id + " rect")
                .attr("x", 0)
                .attr("width", width);
          } else {
            var extent = brush.extent();
            g.selectAll("#clip-" + id + " rect")
                .attr("x", x(extent[0]))
                .attr("width", x(extent[1]) - x(extent[0]));
          }
        }

        g.selectAll(".bar").attr("d", barPath);
      });

      function barPath(groups) {
        var path = [],
            i = -1,
            n = groups.length,
            d;
        while (++i < n) {
          d = groups[i];
          path.push("M", x(d.key), ",", height, "V", y(d.value), "h9V", height);
        }
        return path.join("");
      }

      function resizePath(d) {
        var e = +(d == "e"),
            x = e ? 1 : -1,
            y = height / 3;
        return "M" + (.5 * x) + "," + y
            + "A6,6 0 0 " + e + " " + (6.5 * x) + "," + (y + 6)
            + "V" + (2 * y - 6)
            + "A6,6 0 0 " + e + " " + (.5 * x) + "," + (2 * y)
            + "Z"
            + "M" + (2.5 * x) + "," + (y + 8)
            + "V" + (2 * y - 8)
            + "M" + (4.5 * x) + "," + (y + 8)
            + "V" + (2 * y - 8);
      }
    }

    brush.on("brushstart.chart", function() {
      var div = d3.select(this.parentNode.parentNode.parentNode);
      div.select(".title a").style("display", null);
    });

    brush.on("brush.chart", function() {
      var g = d3.select(this.parentNode),
          extent = brush.extent();
      if (round) g.select(".brush")
          .call(brush.extent(extent = extent.map(round)))
        .selectAll(".resize")
          .style("display", null);
      g.select("#clip-" + id + " rect")
          .attr("x", x(extent[0]))
          .attr("width", x(extent[1]) - x(extent[0]));
      dimension.filterRange(extent);
    });

    brush.on("brushend.chart", function() {
      if (brush.empty()) {
        var div = d3.select(this.parentNode.parentNode.parentNode);
        div.select(".title a").style("display", "none");
        div.select("#clip-" + id + " rect").attr("x", null).attr("width", "100%");
        dimension.filterAll();
      }
    });

    chart.margin = function(_) {
      if (!arguments.length) return margin;
      margin = _;
      return chart;
    };

    chart.x = function(_) {
      if (!arguments.length) return x;
      x = _;
      axis.scale(x);
      brush.x(x);
      return chart;
    };

    chart.y = function(_) {
      if (!arguments.length) return y;
      y = _;
      return chart;
    };

    chart.dimension = function(_) {
      if (!arguments.length) return dimension;
      dimension = _;
      return chart;
    };

    chart.filter = function(_) {
      if (_) {
        brush.extent(_);
        dimension.filterRange(_);
      } else {
        brush.clear();
        dimension.filterAll();
      }
      brushDirty = true;
      return chart;
    };

    chart.group = function(_) {
      if (!arguments.length) return group;
      group = _;
      return chart;
    };

    chart.round = function(_) {
      if (!arguments.length) return round;
      round = _;
      return chart;
    };

    return d3.rebind(chart, brush, "on");
  }




    $('#loading').hide();

    $('.showdetail').on('click',function(){

       $(this).parent().next().slideDown(500).show();
       $(this).parent().slideUp(100);
    });
});
};

doit();

    $('input.searchbox').keyup(function(event){

       if (event.keyCode == '13') {
                search_data = '/api/?home=False&q='+$('input.searchbox').val();
                $('#random').remove();
                $('#loading').show();
                doit();

            }
        event.preventDefault();
        return false;
    });

    $('#searchform').submit( function( e ) {
        e.preventDefault();
    });


</script>


                </article>

<aside>
    Instructions:
    <p>Enter upto 15 keywords to search job descriptions for specific terms.</p>
<p>Drag the highlighted area on the charts to select a subset of the results</p>
<hr>

</aside>




            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <p>
                   <script type="text/javascript">email();</script> <a href="http://twitter.com/xlfe" class="fc-webicon twitter">Twitter</a>
                    <a href="http://au.linkedin.com/in/fbarbalet/" class="fc-webicon linkedin">LinkedIn</a>
                    <a href="https://github.com/xlfe" class="fc-webicon github">Github</a>
                    <br/>
		     <a href="http://pv.tl/">brought to you by pivotal analytics</a>
                </p>

            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/assets/js/jquery-1.9.1.min.js"><\/script>')</script>

        <script>
            var _gaq=[['_setAccount','UA-33085063-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>

